body {
    background-color: #f4f6f8;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

h2 {
    margin-bottom: 20px;
    color: #1e3a8a;
    font-size: 2rem;
    text-align: center;
}

#filterInput {
    padding: 10px 20px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    outline: none;
    transition: all 0.2s ease;
}

#filterInput:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgb(30, 58, 138,0.3);
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #1e3a8a;
    color: #fff;
    font-size: 0.9 rem;
    margin: 5px 5px 15px 0;
    transition: all 0.2s ease;
}

button:hover {
background-color: #3a62d0;  
}

#sortAsc, #sortDesc {
background-color: #727171;
}

#sortAsc:hover, #sortDesc:hover {
    background-color: #8a8a8a;
}