body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: #333;
    padding: 20px;
}

h1 {
    color: #005a9c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: aliceblue;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px solid #005apc;
}